.container {
 border-radius: 5px;
 background-color: rgb(56, 56, 83);
 padding: 10px;
 margin: 10px;
}

.btn {
    background-color: rgb(167, 32, 32);
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    margin-top: 5px;
}

.span {
    color: beige;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}